html{
    background: #30303c;
    font-family: Bahnschrift;
    padding:0 5em;
}
input,textarea{
    border: none;
}
h1#logo{
    font-size: 50px;
}
.mail,text,a{
    font-size: 30px;
}
h1,text{
    color: white;
}
a{
    color: yellowgreen;
    text-decoration: none;
}
a:hover{
    color: aliceblue;
    text-decoration: none;
}
footer{color:white;font-size:large;text-align:center;}footer a{font-size:large;}
pre.rules{font-size:30px;font-family:Bahnschrift;}
@media (orientation: portrait){
    text,h1,a,input{
        font-size: 30px;
    }
    textarea{
        font-size: 20px;
    }
}