@import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css");
@import url("all.css");
@import url("send.css");
@import url("mailbox.css");

a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: greenyellow;
}
text,h1{
    font-family: Bahnschrift;
}